body {
    /* background-image: url('./capture3.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

header {
    background-image: url("./Assets/capture2.jpg");
    background-size: cover;
    position: relative;
    height: 200px;
    text-align: center;
    /* background-color: black; */
    color: white;
    padding: 10px;
}

.abc {

    background-color: white;
    color: black;
    font-size: 400%;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

@media only screen and (max-width: 768px) {
    .abc {
        font-size: 150%;

    }

    header {
        background-image: url("./Assets/Concept.jpg");

    }

    /* Small devices (portrait tablets and large phones) */
    .col-4 {
        width: 100%;

    }

    .card {
        width: 100%;
    }

    .row {
        --bs-gutter-x: 0;
        margin-top: 10%;
        margin-right: -10%
    }

    .list-group-item {}
}

.hidden {
    display: none;
}

.container {
    margin: 2%;
}